@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    浙江大学青溪2舍305<br />
    余杭塘路866号<br />
    杭州市，西湖区<br />
</address>

<address>
    <strong>手机：+86-13857769582</strong> <br />
        <strong>邮箱:626609770@qq.com</strong>   <br />
        <strong>Github:<a href=https://github.com/KomorebiLHX>KomorebiLHX</a></strong>

</address>