@{
    ViewBag.Title = "简历";
}

<div class="wrap">
    <aside class="info">
        <div class="avatar">
            <img src="../Images/head.jpg" />
        </div>
        <div class="msg text-center">
            <div class="name">
                <p>林恒旭</p>
            </div>
            <div class="text-left personage-basic">
                <i class="iconfont icon-user icon"></i>
                男&nbsp;&nbsp;20岁&nbsp;&nbsp;浙江温州
            </div>
            <div class="text-left personage-basic">
                <i class="iconfont icon-edu-s icon"></i>
                本科
            </div>
            <div class="text-left personage-basic">
                <i class="iconfont icon-shijian icon"></i>
                大三
            </div>
            <div class="text-left personage-basic">
                <i class="iconfont icon-shouji icon"></i>
                13857769582
            </div>
            <div class="text-left personage-basic">
                <i class="iconfont icon-youxiang icon"></i>
                626609770@qq.com
            </div>
        </div>
        <div class="line"></div>
    </aside>
    <main class="content">
        <div class="item-base">
            <div class="title line-blue">求职意向</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>数据挖掘/机器学习岗</li>
                    <li>数据分析岗</li>
                    <li>Web前端开发</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">个人技能</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>扎实的机器学习理论，熟悉常用机器学习和深度学习算法，熟悉算法模型评估方法</li>
                    <li>熟悉主流深度算法如CNN，RNN等，有深度学习相关实践项目</li>
                    <li>熟练使用数据挖掘工具，如R、Python、SPSS</li>
                    <li>熟悉linux操作，熟悉oracle数据库及sql语言</li>
                    <li>了解hadoop等常用分布式计算框架，有opencv、tensorflow使用经验</li>
                    <li>掌握HTML5/CSS3，熟悉布局、移动端适配等</li>
                    <li>熟悉React / Redux技术栈等使用，能够使用React进行基本开发</li>
                    <li>熟悉Vue技术栈如Vue-Router、Vuex、Vue-CLI及相关流行库的使用，理解其重要概念</li>
                    <li>熟悉Node.js开发，能搭建基础后台开发</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">工作经历</div>
            <div class="item-content-work">
                <div class="tmpl_modCnt">
                    <span class="work-time">2021.07-2023.07</span>
                    <span class="work-firm bold">阿里巴巴蚂蚁集团</span>
                    <span class="work-job bold">算法工程师</span>
                </div>
                <ul class="item-wrap">
                    <li>职位描述：机器学习算法工程师</li>
                    <li>
                        工作描述：1. 利用智能决策优化、知识图谱、机器学习等算法解决最优财富组合策略等实际金融问题；
                        2. 负责推荐和营销算法，分析与挖掘各种潜在关联，分析特征，建议模型，满足消费者的个性化需求；
                        3. 进行金融业务技术风险分析和建模，通过算法挖掘数据之间的关系，进行风险识别和布防；
                        4. 进行数据分析与设计工作，承担高质量的算法应用代码编写。
                    </li>
                </ul>
            </div>
            <div class="itme-content-work">
                <div class="tmpl_modCnt">
                    <span class="work-time">2023.09 - 2025.09</span>
                    <span class="work-firm bold">腾讯课堂事业部</span>
                    <span class="work-job bold">前端工程师</span>
                </div>
                <ul class="item-wrap">
                    <li>职位描述：资深前端工程师</li>
                    <li>
                        工作描述：该项目的目的是搭建线上学习平台，把线下课堂的完整学习流程搬到线上，平台包括课程展示、购买、直播、录播、作业、权限管理、停课复课、试听等几十个大功能。该项目采用前后分离的技术方案，
                        我主要负责前端部分的开发。项目前端部分使用Vue技术栈，移动端平台使用自己实现的vue ui组件库。
                    </li>
                    <li>技术栈：vue、vue-router、vuex、element-ui、typescript、webpack、es6、移动端</li>
                    <li>项目成果：项目支撑饥人谷日常教学活动、运营活动的正常开展，支持数千学生的日常线上学习，几十万用户的日常访问。</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">教育经历</div>
            <div class="item-content">
                <div class="edu_modCnt">
                    <span class="edu-time">2017.08 - 2021.06</span>
                    <span class="edu-firm bold">浙江大学</span>
                    <span class="edu-job bold">信息管理与信息系统专业</span>
                </div>
                <div class="edu-wrap">
                    <ul class="item-wrap">
                        <li>平均绩点:4.47/5.0，成绩排名专业前10%</li>
                        <li>荣誉/奖项：恒逸奖学金（2019）、浙江大学一等奖学金（2019）、浙江大学三等奖学金（2018）、浙江大学数学建模比赛三等奖（2019）、美国大学生数学建模比赛S奖（2019）、 浙江大学优秀学生（2018、2019）</li>
                        <li>
                            相关课程与成绩：数据挖掘 95/100、非结构化数据分析与应用 96/100、数据分析与可视化 96/100、微积分I 83/100、微积分II 90/100、概率论与数理统计 100/100、离散数学及其应用93/100、Python程序设计95/100、Java程序设计95/100、C 程序设计 95/100、数据结构 95/100、面向对象程序设计基础 92/100、数据库技术 94/100
                        </li>
                    </ul>
                </div>
            </div>
    </main>
</div>

