@{
    ViewBag.Title = "生活照";
}
<!-导入式css->
<div class="wrap" style="
        border: 1px solid #dadada;
        width: 810px;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, .1);
        margin: 100px auto;
        display: grid;
        grid: 1fr / 0px 1fr;
        box-sizing: border-box;">
    <main class="content">
        <div class="avatar">
            <div class="item-base">
                <div class="title" style="text-align:center">爱心社社团聚会</div>
                <img src="~/Images/img1.jpg" />
                <div class="item-wrap" style="text-align:right">拍摄于2019年4月</div>
                <div class="line-blue"></div>
            </div>
            <div class="item-base">
                <div class="title" style="text-align:center">文艺部探乐计划</div>
                <img src="~/Images/img2.jpg" />
                <div class="item-wrap" style="text-align:right">拍摄于2018年4月</div>
                <div class="line-blue"></div>
            </div>
            <div class="item-base">
                <div class="title" style="text-align:center">NUS暑期交流</div>
                <img src="~/Images/img3.jpg" />
                <div class="item-wrap" style="text-align:right">拍摄于2019年7月</div>
            </div>
        </div>
    
</main>
</div>
