@{
    ViewBag.Title = "项目介绍";
}
    <!-导入式css->
<div class="wrap" style="
        border: 1px solid #dadada;
        width: 810px;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, .1);
        margin: 100px auto;
        display: grid;
        grid: 1fr / 0px 1fr;
        box-sizing: border-box;">
    <main class="content">
        <div class="item-base">
            <div class="title line-blue">本科生科研训练-校级创新项目：基于数据挖掘技术下的高校学生学业表现预测系统设计</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>时间：2019年4月-2020年4月</li>
                    <li>内容：本项目拟通过线性规划、logistic、并行化随机森林等数学模型的研究，为招生方案开发一个符合期望方差的学生学业表现预测系统，并在此基础上，以管理学院为例，通过管院学生成绩等相关数据来改进、验证模型，并通过.NET/MVC后端框架发布B/S架构模型并可视化</li>
                    <li>担任团队队长，主要负责数据挖掘模型的设计与改良，使模型兼具准确性与鲁棒性</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">NUS Workshop海外交流项目：基于仿真模型的园区内共享单车系统设计</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>时间：2019年7月</li>
                    <li>内容：本项目通过AREMA方针软件，模拟拥有四大景区的新加坡NUS园区内的共享单车运行，并通过仿真技术调试得到园区内设施的最佳配置，并进行数据的可视化</li>
                    <li>担任团队队长，主要负责AREMA内排队模型的建立以及最终展示</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">Python爬虫程序与文本情感分析</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>时间：2019年9月 - 2019年11月</li>
                    <li>非结构数据分析及应用课程设计，用Python爬虫技术抓取京东商品评论、豆瓣电影影评、起点网小说，并对相关评论进行基于情感词典的文本分析</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">“数”说浙江人——针对浙江省人群的旅游特征分析与可视化</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>时间：2019年9月 - 2019年11月</li>
                    <li>用R语言、Excel对来源于去哪儿网站的全国旅游数据（包含乘坐机型、入住酒店、旅游社产品）进行数据分析与可视化，并从可视化结果中得出浙江省人群的旅游特征，最终形成pdf报告</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">库存管理系统</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>时间：2019年9月 - 2020年1月</li>
                    <li>用Java连接SQL Server数据库，并用Java搭建UI交互界面</li>
                    <li>包括管理员登录，普通用户登录与权限控制，以文本格式存储的商品信息批量入库，商品入库，商品库存查询，商品月报自动生成功能、商品相关自动数据分析功能</li>
                </ul>
            </div>
        </div>
        <div class="item-base">
            <div class="title line-blue">其他技能</div>
            <div class="item-content">
                <ul class="item-wrap">
                    <li>C, Java, C#, Python, MATLAB, Pytorch, TensorFlow, .NET, HTML, CSS, JS, MVC, SQL Server, LaTex, R 等</li>
                </ul>
            </div>
        </div>
    </main>
    </div>

